@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans";
    font-Size: 1.25rem;
    @apply text-gray-800;
}

.explanation {
    @apply flex pb-15 mb-15 border-b-2 border-b-gray-600;
}

.explanation-left {
    @apply flex-2 flex flex-col justify-evenly items-center pr-10;
}

.explanation-right {
    @apply flex-1 text-lg italic p-5 bg-gray-100 shadow rounded-2xl text-gray-600;
}

.cc-icon {
    @apply shadow-sm shadow-gray-400;
    width: 10rem;
}

.info-icon {
    @apply text-4xl float-right not-italic opacity-25 pl-5;
}

.question-box {
    @apply flex flex-col text-center;
}

.question-box > p {
    @apply font-bold pb-5 text-2xl mb-5;
}

.button-positive, .button-negative {
    @apply p-3 rounded-full mb-5 border-2 border-green-300 hover:border-white;
}

.button-positive {
    @apply hover:bg-green-300;
}

.button-negative {
    @apply hover:bg-red-300;
}

.disabled, .disabled:hover {
    @apply bg-gray-300 cursor-default border-white opacity-60;
}

.arrow {
    @apply text-7xl text-center opacity-50 pb-7;
    position: absolute;
    top: -4rem;
    width: 100%;
}

.panel {
  display: none;
  position: relative;
  margin-top: 5rem;
  padding-top: 2rem;
}

.panel.open {
  display: block;
}
